<%= form_with(model: place) do |form| %>
  <% if place.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="borderblock container row col-4 offset-4"> 
  <div class="text-center">
    <br>
    <div class="offset-2">
      <%= form.label :preview_image, style: "display: none" %>
      <%= form.file_field :preview_img %>
    </div>
  
    <br> 
   
    <div class="text-center"> 
      <%= form.label :description, style: "display: block"%>
      <%= form.text_field :description %>
    </div>
    <br> 
  


    <div class="form-group text-center">
      <%= link_to form.submit,  class: 'btn btn-dark' %>
    </div>


    <br> 
  </div>
</div>



<% end %>

