
<div class="text-center">
  <h1>Editing place</h1>
</div>

<%= render "form", place: @place %>


<br>

<div class="text-center">
  <%= link_to places_path do %>
    <button type="button" class="btn btn-dark"><%= t('places.buttons.back') %></button>
  <% end %>

  <%= link_to @place do %>
    <button type="button" class="btn btn-dark"><%= t('places.buttons.view') %></button>
  <% end %>

</div>

