<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <%= link_to root_path do  %>
            <%= image_tag("logo.svg", size: "70x70") %>
          <% end %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <%= link_to t('header.menu.biking'), biking_path, class: current_link_class(biking_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.climbing'), climbing_path, class: current_link_class(climbing_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.skiing'), skiing_path, class: current_link_class(skiing_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.backpacking'), backpacking_path, class: current_link_class(backpacking_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.other'), other_path, class: current_link_class(other_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.about'), about_path, class: "nav-link px-2 #{current_link_class(about_path)}" %>
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>