<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <%= link_to root_path do  %>
            <%= image_tag("logo.svg", size: "70x70") %>
          <% end %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <%= link_to t('header.menu.biking'), biking_path, class: current_link_class(biking_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.climbing'), climbing_path, class: current_link_class(climbing_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.skiing'), skiing_path, class: current_link_class(skiing_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.backpacking'), backpacking_path, class: current_link_class(backpacking_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.other'), other_path, class: current_link_class(other_path) %>
          </li>
          <li>
            <%= link_to t('header.menu.about'), about_path, class: "nav-link px-2 #{current_link_class(about_path)}" %>
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <%- if user_signed_in? %>
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li>
                <%= link_to t('devise.edit_profile'), edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to t('devise.logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="text-end">
            <%= link_to  new_user_session_path do %>
              <button type="button" class="btn btn-outline-light me-2">Login</button>
            <% end %>
            <%= link_to  new_user_registration_path do %>
              <button type="button" class="btn btn-warning">Sign-up</button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </header>